$rem-base: 16px !default;
@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function convert-to-rem($value, $base-value: $rem-base) {
    $value: strip-unit($value) / strip-unit($base-value) * 1rem;
    @if ($value==0rem) {
        $value: 0;
    } // Turn 0rem into 0
    @return $value;
}

@function rem-calc($values, $base-value: $rem-base) {
    $max: length($values);
    @if $max==1 {
        @return convert-to-rem(nth($values, 1), $base-value);
    }
    $remValues: ();
    @for $i from 1 through $max {
        $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
    }
    @return $remValues;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0px;
    padding: 0px;
}
/*-------splash----------- */

.splash {
    background: {
        image: url('/img/coffee_dash.jpg');
        repeat: no-repeat;
        attachment: fixed;
        position: top;
        size: 100% auto;
    }
    width: 100%;
    height: 655px;
    position: fixed;
    z-index: -1;
    margin: 0;
}
/*------------header------------------*/

.header {
    background: {
        color: #330000;
    }
    position: absolute;
    top: 655px;
    width: 100%;
    height: rem-calc(80);
    z-index: 2;
}
/*--------------project-------------------------*/

.project {
    position: absolute;
    top: 655px;
    width: 100%;
    z-index: 1;
    padding: {
        top: rem-calc(80);
    }
    background: {
        color: #FFF;
    }
    .project-title {
        h2 {
            font: {
                family: "FS Joey Bold";
                size: 16px;
                weight: bold;
            }
            line-height: 16px;
            color: #2D373A;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            text-align: center;
            width: 100%;
            margin: 20px 0px;
        }
        .sep {
            width: 100%;
            height: 2px;
            text-align: center;
            margin: 26px 0px 20px;
            span {
                display: inline-block;
                vertical-align: top;
                background-color: #2D373A;
                width: 28px;
                height: 2px;
            }
        }
        .title {
            width: 100%;
            font-family: "M+";
            font-size: 40px;
            line-height: 40px;
            color: #2D373A;
            letter-spacing: 0.05em;
            text-align: center;
            margin: 20px 0px;
        }
    }

    .list-project {
        position: relative;
        width: 100%;
        margin: 60px 0px;
        overflow: hidden;
    }
}