html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0px;
  padding: 0px; }

/*-------splash----------- */
.splash {
  background-image: url('/img/coffee_dash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: 100% auto;
  width: 100%;
  height: 655px;
  position: fixed;
  z-index: -1;
  margin: 0; }

/*------------header------------------*/
.header {
  background-color: #330000;
  position: absolute;
  top: 655px;
  width: 100%;
  height: 5rem;
  z-index: 2; }

/*--------------project-------------------------*/
.project {
  position: absolute;
  top: 655px;
  width: 100%;
  z-index: 1;
  padding-top: 5rem;
  background-color: #FFF; }
  .project .project-title h2 {
    font-family: "FS Joey Bold";
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    color: #2D373A;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin: 20px 0px; }
  .project .project-title .sep {
    width: 100%;
    height: 2px;
    text-align: center;
    margin: 26px 0px 20px; }
    .project .project-title .sep span {
      display: inline-block;
      vertical-align: top;
      background-color: #2D373A;
      width: 28px;
      height: 2px; }
  .project .project-title .title {
    width: 100%;
    font-family: "M+";
    font-size: 40px;
    line-height: 40px;
    color: #2D373A;
    letter-spacing: 0.05em;
    text-align: center;
    margin: 20px 0px; }
  .project .list-project {
    position: relative;
    width: 100%;
    margin: 60px 0px;
    overflow: hidden; }
