@font-face {
  font-family: GoodDog;
  src: url('/font/GoodDog.otf'); }

@font-face {
  font-family: ChunkFive;
  src: url('/font/Chunkfive.otf'); }

@font-face {
  font-family: DaysLater;
  src: url('/font/28DaysLater.ttf'); }

@font-face {
  font-family: Canon;
  src: url('/font/CANON.ttf'); }

@font-face {
  font-family: Angelina;
  src: url('/font/angelina.ttf'); }

@font-face {
  font-family: FaceYourFears;
  src: url('/font/FaceYourFears.ttf'); }

@font-face {
  font-family: SketchRockwell;
  src: url('/font/SketchRockwell-Bold.ttf'); }

@font-face {
  font-family: WaltographUI;
  src: url('/font/waltographUI.ttf'); }

@font-face {
  font-family: FlowerBold;
  src: url('/font/FlowerBold.ttf'); }

@font-face {
  font-family: INDIGO;
  src: url('/font/INDIGO.ttf'); }
