//http://en.wikipedia.org/wiki/List_of_colors:_A%E2%80%93F

//red family
$Alizarin-Crimson: #E32636;
$Lady-Wine: #E95E47;
$Alabama-Crimson: #AF002A;
$Amaranth: #E52B50;
$Dark-Blood-Red: #990000;


//blue family
$Columbia-Blue: #C4D8E2;
$Columbia-Blue-Darker: #8CB5D6;
$Dark-Sky-Blue: #8CBED6;
$Carolina-Blue: #56A0D3;
$Clear-Blue: #0099FF;
$Green-Sky-Blue: #00CCFF;

//purple family
$Dark-Purple: #561D49;


//green family
$Grass-Gray: #BFCD8D;
$Grass-Gray-darker: #C7D693;

//dark family
$Dark-Coffee: #211508;


//yellow
$Cat-Yellow: #FED23D;
$Jonquil: #FACA16;
