//http://en.wikipedia.org/wiki/List_of_colors:_A%E2%80%93F

//red family
$Alizarin-Crimson: #E32636;

$Lady-Wine: #E95E47;

$Alabama-Crimson: #AF002A;

$Amaranth: #E52B50;


//blue family


//purple family
$Dark-Purple: #561D49;


//green family
$Grass-Gray: #B8DB96;
