<div class="row color-view">
    <br />
    <div class="col-lg-10 col-center">
        <div class="row">
            <div class="col-lg-12">

                <!-- COLOR LIST -->
                <div class="color-list">
                    <h1>Color List</h1>
                    <hr />
                    <!-- Shades Red -->
                    <div class="slide-animate" ng-include="'templates/color-red.html'"></div>
                    <!--Shades Red END-->

                    <br />
                    <!-- Shades Green -->
                    <div class="slide-animate" ng-include="'templates/color-green.html'"></div>

                    <!-- Shades Dark -->
                    <div class="slide-animate" ng-include="'templates/color-dark.html'"></div>

                    <!-- Shades Yellow -->
                    <div class="slide-animate" ng-include="'templates/color-yellow.html'"></div>

                    <!-- Shades Blue -->
                    <div class="slide-animate" ng-include="'templates/color-blue.html'"></div>

                    <!-- Shades Purple -->
                    <div class="slide-animate" ng-include="'templates/color-purple.html'"></div>

                    <!-- While Purple -->
                    <div class="slide-animate" ng-include="'templates/color-while.html'"></div>

                </div>
                <!-- COLOR LIST END-->
                <hr />
                <!-- COLOR Palettes  -->
                <div class="color-palettes slide-animate" ng-include="'templates/color-palettes.html'"></div>
                <!-- COLOR Palettes END-->

                <!-- Google Material Color -->
                <div class="slide-animate" ng-include="'templates/material-color.html'"></div>

                <!-- FONT COLOR PALETTES -->
                <!-- <div class="slide-animate" ng-include="'templates/color-font-palettes.html'"></div> -->
                <!-- FONT COLOR PALETTES END-->

                <!-- References -->
                <hr />
                <div class="references">
                    <h3>References</h3>
                    <p><a href="http://www.dtelepathy.com/blog/inspiration/beautiful-color-palettes-for-your-next-web-project">http://www.dtelepathy.com/blog/inspiration/beautiful-color-palettes-for-your-next-web-project</a></p>
                    <p><a href="http://en.wikipedia.org/wiki/List_of_colors:_A%E2%80%93F">http://en.wikipedia.org/wiki/List_of_colors:_A%E2%80%93F</a></p>
                    <p><a href="http://www.google.com/design/spec/style/color.html#color-color-palette" target="_blank">http://www.google.com/design/spec/style/color.html#color-color-palette</a></p>
                </div>
                <!-- References END-->
            </div>


        </div>
    </div>

</div>
