<h1>Color Palettes</h1>

<div class="row">


<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-01-Goldfish.png">
</div>
<div class="col-lg-4">
  <h2>Giant Goldfish</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-02-Socks.png">
</div>
<div class="col-lg-4">
  <h2>Cardsox</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-03-Fitz.png">
</div>
<div class="col-lg-4">
  <h2>Fitz Fitzpatrick</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-04-Campfire.png">
</div>
<div class="col-lg-4">
  <h2>Campfire</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-05-Aladdin.png">
</div>
<div class="col-lg-4">
  <h2>Aladdin</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-06-Chrome.png">
</div>
<div class="col-lg-4">
  <h2>Chrome Sports</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-07-Papua.png">
</div>
<div class="col-lg-4">
  <h2>Papua New Guinea</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-08-Barni.png">
</div>
<div class="col-lg-4">
  <h2>Barni Design</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-09-instapuzzle.png">
</div>
<div class="col-lg-4">
  <h2>Instapuzzle</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-10-ourlittleprojects.png">
</div>
<div class="col-lg-4">
  <h2>Our Little Projects</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-11-stateoftheowner.png">
</div>
<div class="col-lg-4">
  <h2>State of the Owner</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-12-softwaremill.png">
</div>
<div class="col-lg-4">
  <h2>SoftwareMill</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-13-igaranti.png">
</div>
<div class="col-lg-4">
  <h2>iGaranti</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-14-vintageromantic.png">
</div>
<div class="col-lg-4">
  <h2>Vintage Romantic</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-15-njd.png">
</div>
<div class="col-lg-4">
  <h2>Nicholas Jackson Design</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-16-leyen.png">
</div>
<div class="col-lg-4">
  <h2>1920 Leyendecker</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-17-werkpress.png">
</div>
<div class="col-lg-4">
  <h2>WerkPress</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-18-silmo.png">
</div>
<div class="col-lg-4">
  <h2>Silmo Paris</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-19-darksunset.png">
</div>
<div class="col-lg-4">
  <h2>Dark Sunset</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-20-colortraffic.png">
</div>
<div class="col-lg-4">
  <h2>The Color of Traffic</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-21-mandloys.png">
</div>
<div class="col-lg-4">
  <h2>MandLoys</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-22-barca.png">
</div>
<div class="col-lg-4">
  <h2>Sa Barca de Formentera</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-23-contad.png">
</div>
<div class="col-lg-4">
  <h2>Contad</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-24-magme.png">
</div>
<div class="col-lg-4">
  <h2>Magme</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-25-enterprise.png">
</div>
<div class="col-lg-4">
  <h2>Enterprise Foundation</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-26-rscollab.png">
</div>
<div class="col-lg-4">
  <h2>Scrollab</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-27-mohi.png">
</div>
<div class="col-lg-4">
  <h2>Mohiuddin Parekh</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-28-boycoy.png">
</div>
<div class="col-lg-4">
  <h2>Boy-Coy</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-29-drupalcon.png">
</div>
<div class="col-lg-4">
  <h2>DrupalCon</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-30-ny.png">
</div>
<div class="col-lg-4">
  <h2>Windows of New York</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-31-lv.png">
</div>
<div class="col-lg-4">
  <h2>Lorenzo Verzini</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-32-raspberry.png">
</div>
<div class="col-lg-4">
  <h2>Raspberry Theme</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-33-paw.png">
</div>
<div class="col-lg-4">
  <h2>Paw Studio</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-34-visually.png">
</div>
<div class="col-lg-4">
  <h2>Visually Columbia</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-35-andaz.png">
</div>
<div class="col-lg-4">
  <h2>Andaz</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-36-key.png">
</div>
<div class="col-lg-4">
  <h2>Secret Key</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-37-fig.png">
</div>
<div class="col-lg-4">
  <h2>FIG</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-38-viximo.png">
</div>
<div class="col-lg-4">
  <h2>Viximo</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-39-osaki.png">
</div>
<div class="col-lg-4">
  <h2>Osaki</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-40-kashi.png">
</div>
<div class="col-lg-4">
  <h2>Kashi</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-41-bass.png">
</div>
<div class="col-lg-4">
  <h2>Bassenettes</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-42-adam.png">
</div>
<div class="col-lg-4">
  <h2>Adam Hartwig</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-43-alex.png">
</div>
<div class="col-lg-4">
  <h2>Alexandra Kuban Web Design</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-44-gravual.png">
</div>
<div class="col-lg-4">
  <h2>Gravual</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-45-scott.png">
</div>
<div class="col-lg-4">
  <h2>Scott McCarthy</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-46-made.png">
</div>
<div class="col-lg-4">
  <h2>Made Together</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-47-aesthetic.png">
</div>
<div class="col-lg-4">
  <h2>Aesthetic Invention</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-48-lrxd.png">
</div>
<div class="col-lg-4">
  <h2>LRXD</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-49-enso.png">
</div>
<div class="col-lg-4">
  <h2>Enso</h2>
</div>
<div class="col-lg-12"></div>



<div class="col-lg-8">
  <img src="/img/color-palettes/Color-Palette-Post-50-el.png">
</div>
<div class="col-lg-4">
  <h2>El Designo</h2>
</div>
<div class="col-lg-12"></div>

</div>
