<div class="green-shades">
    <h2>Shades of Green</h2>
    <div class="row">

      <div class="col-lg-1">
        <div class="color-container" style="background-color: #B8DB96">
        </div>
      </div>
      <div class="col-lg-3">
        <h3>
          $Grass-Gray
        </h3>
      </div>

      <div class="col-lg-1">
        <div class="color-container" style="background-color: #C7D693">
        </div>
      </div>
      <div class="col-lg-3">
        <h3>
          $Grass-Gray-darker
        </h3>
      </div>

      <div class="col-lg-1">
        <div class="color-container" style="background-color: #27B399">
        </div>
      </div>
      <div class="col-lg-3">
        <h3>
          $Emerald
        </h3>
      </div>


    </div>

</div>
