<div>
  <h1 class="groud-title">Icon-button</h1>
  <hr />

  <h2>Base</h2>
  <div>
    <a class="btn icon">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <br/>
 <pre class="language-html" data-lang="html">
  &lt;a class=&quot;btn icon&quot;&gt;
      &lt;i class=&quot;fa fa-bars&quot;&gt;&lt;/i&gt;
  &lt;/a&gt;
</pre>

  <h2>Group Icon</h2>
  <div>
    <div class="row">
      <div class="col-lg-5">
        <div class="group-icon-button">
          <a class="btn icon">
            <i class="fa fa-bars"></i>
          </a>
          <a class="btn icon">
            <i class="fa fa-car"></i>
          </a>
          <a class="btn icon" disabled>
            <i class="fa fa-anchor"></i>
          </a>
          <a class="btn icon active">
            <i class="fa fa-bell"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <pre class="language-html" data-lang="html">
    &lt;div class=&quot;group-icon-button&quot;&gt;
     &lt;a class=&quot;btn icon&quot;&gt;
       &lt;i class=&quot;fa fa-bars&quot;&gt;&lt;/i&gt;
     &lt;/a&gt;
     &lt;a class=&quot;btn icon&quot;&gt;
       &lt;i class=&quot;fa fa-car&quot;&gt;&lt;/i&gt;
     &lt;/a&gt;
     &lt;a class=&quot;btn icon&quot; disabled&gt;
       &lt;i class=&quot;fa fa-anchor&quot;&gt;&lt;/i&gt;
     &lt;/a&gt;
     &lt;a class=&quot;btn icon active&quot;&gt;
       &lt;i class=&quot;fa fa-bell&quot;&gt;&lt;/i&gt;
     &lt;/a&gt;
    &lt;/div&gt;</pre>


</div>
