<div>
  <h1 class="groud-title">Icon-button</h1>
  <hr />

  <h2>Base</h2>
  <div>
    <a class="btn icon">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <h2>Group Icon</h2>
  <div>
    <div class="row">
      <div class="col-lg-5">
        <div class="group-icon-button">
          <a class="btn icon">
            <i class="fa fa-bars"></i>
          </a>
          <a class="btn icon">
            <i class="fa fa-car"></i>
          </a>
          <a class="btn icon" disabled>
            <i class="fa fa-anchor"></i>
          </a>
          <a class="btn icon active">
            <i class="fa fa-bell"></i>
          </a>
        </div>
      </div>
    </div>
  </div>


</div>
