<div class="component" id="component">
<div class="row">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-9">
    <div id="component-icon-button" class="slide-animate" ng-include="'templates/component-icon-button.html'"></div>
    <div id="component-pagination" class="slide-animate" ng-include="'templates/component-pagination.html'"></div>
    <div id="component-arrow" class="slide-animate" ng-include="'templates/component-arrow.html'"></div>
    <div id="component-circle-card" class="slide-animate" ng-include="'templates/component-circle-card.html'"></div>
    <div id="component-nav" class="slide-animate" ng-include="'templates/component-nav.html'"></div>
    <div id="component-panel" class="slide-animate" ng-include="'templates/component-panel.html'"></div>
    <div id="component-card" class="slide-animate" ng-include="'templates/component-card.html'"></div>
    <div id="component-list" class="slide-animate" ng-include="'templates/component-list.html'"></div>
    <div id="component-header" class="slide-animate" ng-include="'templates/component-header.html'"></div>
    <div id="component-container" class="slide-animate" ng-include="'templates/component-container.html'"></div>
    <div id="component-footer" class="slide-animate" ng-include="'templates/component-footer.html'"></div>
    <div id="component-hamburger" class="slide-animate" ng-include="'templates/component-hamburger.html'"></div>
  </div>
  <nav class="col-lg-2 slide-nav-bar visible-lg" style="z-index:3">
    <ul id="sidebar" class="tab tab-stacked  cola-side-nav" ng-pin container="#component">
      <li>
       <a ng-click="gotoThere('component-icon-buiton')">Icon-Button</a>
      </li>
      <li>
        <a ng-click="gotoThere('component-pagination')">Pagination</a>
      </li>
      <li>
        <a ng-click="gotoThere('component-arrow')">Arrow</a>
      </li>
      <li>
        <a ng-click="gotoThere('component-circle-card')">Circle Card</a>
      </li>
      <li>
        <a ng-click="gotoThere('component-nav')">Nav</a>
      </li>

      <li>
        <a ng-click="gotoThere('component-panel')">Panel</a>
      </li>
      <li>
        <a ng-click="gotoThere('component-card')">Card</a>
      </li>
      <li>
        <a ng-click="gotoThere('component-list')">List</a>
      </li>
      <li>
        <a ng-click="gotoThere('component-header')">Header</a>
      </li>
      <li>
        <a ng-click="gotoThere('component-container')">Container</a>
      </li>
      <li>
        <a ng-click="gotoThere('component-footer')">Footer</a>
      </li>
      <li>
        <a ng-click="gotoThere('component-hamburger')">Hamberger</a>
      </li>

    </ul>
  </nav>
</div>

</div>
