<div>
  <h1 class="groud-title">Pagination</h1>
  <hr />

  <h2>Circle</h2>
  <div>

    <section>
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </section>

  </div>

  <br/>
  <pre class="language-html" data-lang="html">
 &lt;ul class=&quot;pagination&quot;&gt;
   &lt;li&gt;
     &lt;a href=&quot;#&quot; aria-label=&quot;Previous&quot;&gt;
       &lt;span aria-hidden=&quot;true&quot;&gt;&amp;laquo;&lt;/span&gt;
     &lt;/a&gt;
   &lt;/li&gt;
   &lt;li&gt;&lt;a href=&quot;#&quot;&gt;1&lt;/a&gt;&lt;/li&gt;
   &lt;li&gt;&lt;a href=&quot;#&quot;&gt;2&lt;/a&gt;&lt;/li&gt;
   &lt;li&gt;&lt;a href=&quot;#&quot;&gt;3&lt;/a&gt;&lt;/li&gt;
   &lt;li&gt;&lt;a href=&quot;#&quot;&gt;4&lt;/a&gt;&lt;/li&gt;
   &lt;li&gt;&lt;a href=&quot;#&quot;&gt;5&lt;/a&gt;&lt;/li&gt;
   &lt;li&gt;
     &lt;a href=&quot;#&quot; aria-label=&quot;Next&quot;&gt;
       &lt;span aria-hidden=&quot;true&quot;&gt;&amp;raquo;&lt;/span&gt;
     &lt;/a&gt;
   &lt;/li&gt;
 &lt;/ul&gt;</pre>


</div>
