<div>
  <h1 class="groud-title">Panel</h1>
  <hr />

  <h2>Base Panel</h2>
  <div>
    <div class="row">
      <div class="col-lg-4">
        <div class="panel radius base-panel">
          不久前，我遇上一个人，送给我一坛酒，她说那叫“醉生梦死”，喝了之后，可以叫你忘掉以前做过的任何事。我很奇怪，为什么会有这样的酒。她说人最大的烦恼，就是记性太好，如果什么都可以忘掉，以后的每一天将会是一个新的开始，那你说这有多开心。
        </div>
      </div>
    </div>
  </div>

  <h2>Enhanced Border Panel</h2>
  <div>
    <div class="row">
      <div class="col-lg-4">
        <div class="panel enhanced base-panel while-text">
          我知道黄药师不会再来,可是我还继续等,我在门外坐了两天两夜,看着天空在不断的变化,我才发现,虽然我到这里很久,却从来没有看清楚这片沙漠,以前看见山,就想知道山的后面是甚么,我现在已经不想知道了。
        </div>
      </div>
    </div>
  </div>

</div>
