<div>
  <h1>List</h1>

  <!-- Base -->
  <h2>Base</h2>
  <div>
    <div class="row">
      <div class="col-lg-4 radius panel" style="height:250px; padding:0;">
        <div class="list-container">
          <ul class="list">
            <li class="item center-text" style="color: #444">
              <p>The Silence of the Lambs</p>
            </li>

            <li class="item center-text" style="color: #444">
              <p>Hannibal</p>
            </li>
            <li class="item center-text" style="color: #444">
              <p>Red Dragon</p>
            </li>
            <li class="item center-text" style="color: #444">
              <p>Hannibal Rising</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Base end -->

  <!-- thumbs list -->
  <h2>Thumbs list</h2>
  <div class="row">
    <div class="col-lg-4 radius panel" style="height:400px; padding:0;">
      <div class="list-container">
        <ul class="list">
          <li class="item" style="color: #444">
            <img src="img/list-t1.jpg">
            <p>The Silence of the Lambs</p>
          </li>

          <li class="item" style="color: #444">
            <img src="img/list-t2.jpg">
            <p>Hannibal</p>
          </li>
          <li class="item" style="color: #444">
            <img src="img/list-t3.jpg">
            <p>Gad Father</p>
          </li>
          <li class="item" style="color: #444">
            <img src="img/list-t4.jpg">
            <p class="center-text">Avatar</p>
          </li>
        </ul>
      </div>
    </div>

</div>

  <!-- thumbs list end -->

</div>
