<div>
  <h1 class="groud-title">Card</h1>
  <hr />

  <!-- Card -->
  <!-- Base card -->
  <h2 class="groud-title">Base Card</h2>
  <div class="row">
    <div class="col-lg-5 base-card">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <hr />
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href='#'>This is a link</a>
        </div>
      </div>
    </div>
    <div class="col-lg-5 base-card">
      <div class="card  while-text">
        <div class="card-content">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <hr />
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href='#'>This is a link</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Base Card End -->
  <!-- Base Card Code -->
  <div class="row">
    <div class="col-lg-12 col-center">
      <pre class="language-html" data-lang="html">
  &lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;card-content&quot;&gt;
       &lt;span class=&quot;card-title&quot;&gt;Card Title&lt;/span&gt;
       &lt;p&gt;I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.&lt;/p&gt;
    &lt;/div&gt;
    &lt;hr /&gt;
    &lt;div class=&quot;card-action&quot;&gt;
       &lt;a href=&quot;#&quot;&gt;This is a link&lt;/a&gt;
       &lt;a href=&#39;#&#39;&gt;This is a link&lt;/a&gt;
  &lt;/div&gt;

  &lt;div class=&quot;card  while-text&quot;&gt;
    &lt;div class=&quot;card-content&quot;&gt;
        &lt;span class=&quot;card-title&quot;&gt;Card Title&lt;/span&gt;
        &lt;p&gt;I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.&lt;/p&gt;
    &lt;/div&gt;
    &lt;hr /&gt;
    &lt;div class=&quot;card-action&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;This is a link&lt;/a&gt;
        &lt;a href=&#39;#&#39;&gt;This is a link&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;</pre>
    </div>
  </div>
  <!-- Base Card Code End -->



  <h2 class="groud-title">Picture Card</h2>

  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <img src="img/card-p-1.jpg">
        <a href="#"><h2 class="card-name">The Grandmaster</h2></a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img src="img/card-p-2.jpg">
        <a href="#"><h2 class="card-name">My Blueberry Nights</h2></a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img src="img/card-p-3.jpg">
        <a href="#"><h2 class="card-name">Ashes of Time</h2></a>
      </div>
    </div>
  </div>
  <!-- Card Code -->
  <strong>
    Easy to use, just add class "card".Don't forgive add class "card-name" for card name.
  </strong>
  <pre>
     &lt;div class=&quot;card&quot;&gt;
       &lt;img src=&quot;img/tarot/RWS_Tarot_00_Fool.jpg&quot;&gt;
       &lt;a href=&quot;#&quot;&gt;&lt;h2 class=&quot;card-name&quot;&gt;The Fool&lt;/h2&gt;&lt;/a&gt;
     &lt;/div&gt;</pre>
  <!-- Card Code End-->

  <!-- Item Card -->
  <h2 class="groud-title">Item Card</h2>
  <div class="row">
    <div class="col-lg-5">
      <div class="card item">
        <div class="card-image">
          <img src="img/item-card.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-5">

    </div>
  </div>
  <!-- Item Card End-->
  <!-- Item Card Code End-->

  <!-- Item Card Code End-->

  <!-- card article -->
  <h2 class="groud-title">Article Card</h2>
  <div class="row">
    <div class="col-lg-4">

      <div class="card article">
        <img src="img/card1.jpg">
        <div class="article-content">
          <img class="post-icon" src="img/cola_logo.png" alt="foundation icon">
          <p class="post-author">By <a href="#">Vincent Vega</a></p>
          <h4>Pulp Fiction brought guns, gimps, and glory to the Cannes Film Festival</h4>
          <p>If my answers frighten you then you should cease asking scary questions. Zed's dead, baby. Zed's dead. I love you, Pumpkin. I love you, Honey Bunny. All right, everybody be cool, this is a robbery!</p>
          <p>
            <a href="#">Read on...</a>
            <a href="#" class="right"><i class="icon-heart"></i></a>
            <a href="#" class="right"><i class="icon-share"></i></a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card article">

        <img src="img/card2.jpg">
        <div class="article-content">
          <img class="post-icon" src="img/cola_logo.png" alt="foundation icon">
          <p class="post-author">By <a href="#">Brick Top</a></p>
          <h4>Santch. The best gangster movie of all time? I'll fight ya for it.</h4>
          <p>It's behind you Tyrone. Whenever you reverse, things come from behind you. Who took the jam outta your doughnut? Yes, London. You know: fish, chips, cup 'o tea, bad food, worse weather, Mary f-king Poppins... LONDON.</p>
          <p>
            <a href="#">Read on...</a>
            <a href="#" class="right"><i class="icon-heart"></i></a>
            <a href="#" class="right"><i class="icon-share"></i></a>
          </p>
        </div>

      </div>
    </div>
    <div class="col-lg-4">
      <div class="card article">

        <img src="img/card3.jpg">
        <div class="article-content">
          <img class="post-icon" src="img/cola_logo.png" alt="foundation icon">
          <p class="post-author">By <a href="#">Tyler Durden</a></p>
          <h4>It's said that the first rule of Fight Club is: 'You do not talk about Fight club.' We must ignore this rule for two reasons:</h4>
          <p>You are not special. You are not a beautiful or unique snowflake. You're the same decaying organic matter as everything else.</p>
          <p>
            <a href="#">Read on...</a>
            <a href="#" class="right"><i class="icon-heart"></i></a>
            <a href="#" class="right"><i class="icon-share"></i></a>
          </p>
        </div>
      </div>
    </div>
    <!-- Card Article end -->

    <!-- Card Article code -->
    <div class="row">
      <div class="col-lg-12 col-center">
        <pre class="language-html" data-lang="html">
 &lt;div class=&quot;card article&quot;&gt;
     &lt;img src=&quot;/img/card1.jpg&quot;&gt;
     &lt;div class=&quot;article-content&quot;&gt;
          &lt;img class=&quot;post-icon&quot; src=&quot;/img/cola_logo.png&quot; alt=&quot;foundation icon&quot;&gt;
          &lt;p class=&quot;post-author&quot;&gt;By &lt;a href=&quot;#&quot;&gt;Vincent Vega&lt;/a&gt;&lt;/p&gt;
          &lt;h4&gt;Pulp Fiction brought guns, gimps, and glory to the Cannes Film Festival&lt;/h4&gt;
          &lt;p&gt;If my answers frighten you then you should cease asking scary questions. Zed&#39;s dead, baby. Zed&#39;s dead. I love you, Pumpkin. I love you, Honey Bunny. All right, everybody be cool, this is a robbery!&lt;/p&gt;
          &lt;p&gt;
            &lt;a href=&quot;#&quot;&gt;Read on...&lt;/a&gt;
            &lt;a href=&quot;#&quot; class=&quot;right&quot;&gt;&lt;i class=&quot;icon-heart&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;a href=&quot;#&quot; class=&quot;right&quot;&gt;&lt;i class=&quot;icon-share&quot;&gt;&lt;/i&gt;&lt;/a&gt;
          &lt;/p&gt;
     &lt;/div&gt;
&lt;/div&gt;</pre>
      </div>
    </div>
    <!-- Card Article code end-->

    <!-- COVER CARD -->
    <h2>Cover Card</h2>
    <div>
      <div class="row">
        <div class="col-lg-8">
          <div class="card cover">
            <a href="#">
              <div class="card-picture">
                <img src="img/card-c-1.jpeg">
              </div>
              <div class="card-overlay">
                <div class="p-title">
                  <div class="categories">
                    <span class="sep"></span>
                    <span class="content">
                      Articlesz
                    </span>
                  </div>
                  <div class="desc">
                    About coffee articles
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card cover">
            <a href="#">
              <div class="card-picture">
                <img src="img/card-c-2.jpg">
              </div>
              <div class="card-overlay">
                <div class="p-title">
                  <div class="categories">
                    <span class="sep"></span>
                    <span class="content">
                      Articles
                    </span>
                  </div>
                  <div class="desc">
                    About coffee articles
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="card cover">
            <a href="#">
              <div class="card-picture">
                <img src="img/card-c-3.jpg">
              </div>
              <div class="card-overlay">
                <div class="p-title">
                  <div class="categories">
                    <span class="sep"></span>
                    <span class="content">
                      Articles
                    </span>
                  </div>
                  <div class="desc">
                    About coffee articles
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- COVER CARD END -->

    <!-- Reveal Card -->
    <h2>Reveal Card</h2>
    <div>
      <div class="row">
        <div class="col-lg-5">
          <div class="card reveal">
            <a href="#">
              <div class="card-picture">
                <img src="img/card-r-1.jpg">
              </div>
              <div class="card-reveal">
                <div class="p-title">
                  <div class="categories">
                    <span class="sep"></span>
                    <span class="content">
                      Articles
                    </span>
                  </div>
                  <div class="desc">
                    About coffee articles
                  </div>
                </div>
              </div>
            </a>
          </div>
</div>
      </div>
    </div>
    <!-- Reveal Card -->

  </div>
</div>
<!-- Card End-->
