<div>
  <h1 class="groud-title">Container</h1>
  <hr />

  <h2>Base</h2>
  <div>
    pass
  </div>

  <h2>Jumbotron</h2>
  <div class="row">
    <div class="col-lg-10 panel radius">
      <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
    </div>
  </div>

      <pre class="language-html" data-lang="html">
 &lt;div class=&quot;jumbotron&quot;&gt;
     &lt;h1&gt;Hello, world!&lt;/h1&gt;
     &lt;p&gt;...&lt;/p&gt;
     &lt;p&gt;&lt;a class=&quot;btn btn-primary btn-lg&quot; href=&quot;#&quot; role=&quot;button&quot;&gt;Learn more&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;</pre>


</div>
