<div>
  <h1 class="groud-title">Circle Card</h1>
  <h2>Rotate Side(building)</h2><small style="margin: 0; font-size: 1rem; padding: 0;" class="red">*Note: Not compatibility</small>
  <hr />
  <div>
    <div class="row">
      <div class="col-lg-4">
        <div class="circle-card">
          <div class="cc-img">
            <img alt="" src="img/circle-card1.jpg" class="circle"/>
          </div>
          <div class="cover-layer">
            <div class="first-layer color-layer" style="background-color: rgba(0,255,0,0.3);"> <!-- green -->
              <div>
                <a><i class="cc-icon fa fa-qq"></i></a>
              </div>
            </div>
            <div class="second-layer color-layer" style="background-color: rgba(255,255,0,0.3);"> <!-- yellow -->
              <div>
                <a><i class="cc-icon fa fa-weibo"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-4">
        <div class="circle-card">
          <div class="cc-img">

          </div>
          <div class="cover-layer">
            <div class="first-layer color-layer" style="background-color: rgba(0,255,0,0.3);">
              <div style="position: absolute; height:4px; width: 4px; background-color:black; top: 85%; left: 40%; border-radius: 50%;"></div>
              <div>
                <a><i class="cc-icon fa fa-qq"></i></a>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="col-lg-4">
        <div class="circle-card">
          <div class="cc-img">

          </div>
          <div class="cover-layer">

            <div class="second-layer color-layer" style="background-color: rgba(255,255,0,0.3);">
              <div style="position: absolute; height:4px; width: 4px; background-color:black; top: 15%; left: 75%; border-radius: 50%;"></div>
              <div>
                <a>
                  <i class="cc-icon fa fa-weibo"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <br />
    <br />
    <br />


    <p>Reference: <a href="http://wiprodigital.com/">wiprodigital</a></p>
  </div>

</div>
