<div>
  <h1 class="groud-title">Nav</h1>
  <hr />

  <!-- BASE  -->
  <h2>Base</h2>
  <div>
    <div class="panel radius">
      <nav class="nav">
        <div class="nav-header">
          <a class="nav-brand">

            <img alt="Brand" style="width:25px; height:25px;" src="/img/cola_logo.png">
          </a>
        </div>

        <div class="nav-left">
          <ul>
            <li><a>CSS</a></li>
            <li><a>Component</a></li>
            <li class="active"><a>Test</a></li>
          </ul>
        </div>




      </nav>

    </div>
  </div>
  <!-- BASE END -->

  <!-- Left or Right -->
  <h2>Left or Right</h2>
  <div>
    <nav class="nav">
      <div class="nav-header">
        <a class="nav-brand">

          <img alt="Brand" style="width:25px; height:25px;" src="/img/cola_logo.png">
        </a>
      </div>

      <div class="nav-left">
        <ul>
          <li><a>CSS</a></li>
          <li><a>Component</a></li>
          <li class="active"><a>Test</a></li>
        </ul>
      </div>


      <div class="nav-right">
        <ul>
          <li><a>Wind</a></li>
          <li><a>Fire</a></li>
          <li class="active"><a>Ice</a></li>
        </ul>
      </div>

    </nav>

  </div>
  <!-- Left or Right End-->

  <!-- Form in Nav -->
  <h2>Form in Nav</h2>
  <div>
    <nav class="nav">
      <div class="nav-header">
        <a class="nav-brand">

          <img alt="Brand" style="width:25px; height:25px;" src="/img/cola_logo.png">
        </a>
      </div>

      <div class="nav-left">
        <ul>
          <li><a>CSS</a></li>
          <li><a>Component</a></li>
          <li class="active"><a>Test</a></li>
        </ul>
      </div>


      <div class="nav-form">
        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="search">
          </div>
          <div class="form-group">
            <a class="btn">GO</a>
          </div>
        </form>
      </div>


      <div class="nav-right">
        <ul>
          <li><a>Wind</a></li>
          <li><a>Fire</a></li>
          <li class="active"><a>Ice</a></li>
        </ul>
      </div>

    </nav>
  </div>
  <!-- Form in Nav End-->

  <h2>Base Hamburger</h2>
  <div class="row">
    <div class="col-lg-5">
      <div class="panel radius" style="height:250px;">
        <nav class="nav">
          <div class="nav-right">
            <a class="hamburger-icon" data-toggle="collapse" data-target="base-hbg-list">
              <span class="hamburger-layer"></span>
            </a>
          </div>
          <div id="base-hbg-list" class="nav-hamburger-list">
            <ul>
              <li><a>First</a></li>
              <li><a>Second</a></li>
              <li><a>Third</a></li>
              <li><a>Apple</a></li>
              <li><a>Banana</a></li>
            </ul>
          </div>

        </nav>

        <div class="panel" style="padding: 10px 15px; box-shadow: none;transition: all 0.3s ease-out 0s;">
          <p style="margin: 0; padding: 0;">
            以前看见山,就想知道山的后面是甚么,我现在已经不想知道了。
          </p>
        </div>

      </div>

    </div>
  </div>
  <!-- BASE BAMBURGER END -->

  <!-- Hamburger(building)</h2> -->
  <h2>Hamburger(building)</h2>
  <div>
    <nav class="nav">
      <div class="nav-header">
        <a class="nav-brand">

          <img alt="Brand" style="width:25px; height:25px;" src="/img/cola_logo.png">
        </a>
      </div>

      <div class="nav-left">
        <ul>
          <li><a>CSS</a></li>
          <li><a>Component</a></li>
          <li class="active"><a>Test</a></li>
        </ul>
      </div>

      <div class="nav-form">
        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="search">
          </div>
          <div class="form-group">
            <a class="btn">GO</a>
          </div>
        </form>
      </div>


      <div class="nav-right">
        <ul>
          <li><a>Wind</a></li>
          <li><a>Fire</a></li>
          <li class="active"><a>Ice</a></li>
        </ul>
      </div>

      <div class="nav-right">
        <div class="hamburger-wrap">
          <hamburger-button>
            <div class="hamburger">
              <div></div>
              <div></div>
              <div></div>
            </div>

          </hamburger-button>

          <section class="menu menu-off">
            <div>Android's Material Design Hamburger Animation</div>
            <div>Apple</a></div>
            <div>GitHub</a></div>
            <div>@Abychan</a></div>
          </section>
        </div>
      </div>

    </nav>
  </div>
  <!-- Hamburger(building) End -->


</div>
