<div>
  <h1>List</h1>

  <!-- Base -->
  <h2>Base</h2>
  <div>
    <div class="row">
      <div class="col-lg-4 radius panel" style="height:250px; padding:0;">
        <div class="list-container">
          <ul class="list">
            <li class="item center-text" style="color: #444">
              <p>The Silence of the Lambs</p>
            </li>

            <li class="item center-text" style="color: #444">
              <p>Hannibal</p>
            </li>
            <li class="item center-text" style="color: #444">
              <p>Red Dragon</p>
            </li>
            <li class="item center-text" style="color: #444">
              <p>Hannibal Rising</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Base end -->
<br>
  <pre class="language-html" data-lang="html">
   &lt;div class=&quot;list-container&quot;&gt;
     &lt;ul class=&quot;list&quot;&gt;
       &lt;li class=&quot;item center-text&quot; style=&quot;color: #444&quot;&gt;
         &lt;p&gt;The Silence of the Lambs&lt;/p&gt;
       &lt;/li&gt;
        &lt;li class=&quot;item center-text&quot; style=&quot;color: #444&quot;&gt;
         &lt;p&gt;Hannibal&lt;/p&gt;
       &lt;/li&gt;
       &lt;li class=&quot;item center-text&quot; style=&quot;color: #444&quot;&gt;
         &lt;p&gt;Red Dragon&lt;/p&gt;
       &lt;/li&gt;
       &lt;li class=&quot;item center-text&quot; style=&quot;color: #444&quot;&gt;
         &lt;p&gt;Hannibal Rising&lt;/p&gt;
       &lt;/li&gt;
     &lt;/ul&gt;
   &lt;/div&gt;</pre>


  <!-- thumbs list -->
  <h2>Thumbs list</h2>
  <div class="row">
    <div class="col-lg-4 radius panel" style="height:400px; padding:0;">
      <div class="list-container">
        <ul class="list">
          <li class="item" style="color: #444">
            <img src="img/list-t1.jpg">
            <p>The Silence of the Lambs</p>
          </li>

          <li class="item" style="color: #444">
            <img src="img/list-t2.jpg">
            <p>Hannibal</p>
          </li>
          <li class="item" style="color: #444">
            <img src="img/list-t3.jpg">
            <p>Gad Father</p>
          </li>
          <li class="item" style="color: #444">
            <img src="img/list-t4.jpg">
            <p class="center-text">Avatar</p>
          </li>
        </ul>
      </div>
    </div>

</div>


  <br>
  <pre class="language-html" data-lang="html">
 &lt;div class=&quot;list-container&quot;&gt;
   &lt;ul class=&quot;list&quot;&gt;
     &lt;li class=&quot;item&quot; style=&quot;color: #444&quot;&gt;
       &lt;img src=&quot;img/list-t1.jpg&quot;&gt;
       &lt;p&gt;The Silence of the Lambs&lt;/p&gt;
     &lt;/li&gt;
      &lt;li class=&quot;item&quot; style=&quot;color: #444&quot;&gt;
       &lt;img src=&quot;img/list-t2.jpg&quot;&gt;
       &lt;p&gt;Hannibal&lt;/p&gt;
     &lt;/li&gt;
     &lt;li class=&quot;item&quot; style=&quot;color: #444&quot;&gt;
       &lt;img src=&quot;img/list-t3.jpg&quot;&gt;
       &lt;p&gt;Gad Father&lt;/p&gt;
     &lt;/li&gt;
     &lt;li class=&quot;item&quot; style=&quot;color: #444&quot;&gt;
       &lt;img src=&quot;img/list-t4.jpg&quot;&gt;
       &lt;p class=&quot;center-text&quot;&gt;Avatar&lt;/p&gt;
     &lt;/li&gt;
   &lt;/ul&gt;
 &lt;/div&gt;</pre>


  <!-- thumbs list end -->

</div>
