<div>
  <h1 class="groud-title">Footer</h1>
  <hr />

  <h2>Base</h2>
  <div class="row">
    <div class="col-lg-10 panel radius" style="position: relative;">
      <footer class="big-footer" id="footer">
         <div class="row">
           <div class="col-md-4 visible-lg-block visible-md-block">
             <ul class="list">
               <li><span><i class="fa fa-github"></i>Github</span>

               </li>

               <li><span><i class="fa fa-google"></i>Google</span>

               </li>

               <li><span><i class="fa fa-weixin"></i>Weixin</span>

               </li>

               <li><span><i class="fa fa-weibo"></i>Weibo</span>

               </li>

             </ul>
           </div>

           <div class="col-md-5 visible-lg-block visible-md-block">
             <p style="margin-top: 3rem;">COLA IS FREE, OPEN SOURCE AND ALWAYS WILL BE.</p>
           </div>

           <div class="col-md-3 col-xs-12 sub-new">
             <h5>SUBSCRIBE TO OUR NEWS</h5>
             <p>Sign up for our newsletter and get the latest news.</p>
             <div class="form-group">
               <div class="input-group">
                 <input type="email" class="form-control" id="sub-email-input" placeholder="email@example.com">
                 <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
               </div>
             </div>
           </div>




         </div>
         <div class="bottom-line center-text">
           <p>Copyright © 2015 Cola Framework. All Rights Reserved. Made with love in Cola, BC, China. | <span><a>Terms & Conditions</a></span> | Privacy Policy | Disclaimer | Shipping & Returns</p>
         </div>

        </footer>


    </div>
  </div>

  <br>
  <pre class="language-html" data-lang="html">
      &lt;footer class=&quot;big-footer&quot; id=&quot;footer&quot;&gt;
         &lt;div class=&quot;row&quot;&gt;
           &lt;div class=&quot;col-md-4 visible-lg-block visible-md-block&quot;&gt;
             &lt;ul class=&quot;list&quot;&gt;
               &lt;li&gt;&lt;span&gt;&lt;i class=&quot;fa fa-github&quot;&gt;&lt;/i&gt;Github&lt;/span&gt;

               &lt;/li&gt;

               &lt;li&gt;&lt;span&gt;&lt;i class=&quot;fa fa-google&quot;&gt;&lt;/i&gt;Google&lt;/span&gt;

               &lt;/li&gt;

               &lt;li&gt;&lt;span&gt;&lt;i class=&quot;fa fa-weixin&quot;&gt;&lt;/i&gt;Weixin&lt;/span&gt;

               &lt;/li&gt;

               &lt;li&gt;&lt;span&gt;&lt;i class=&quot;fa fa-weibo&quot;&gt;&lt;/i&gt;Weibo&lt;/span&gt;

               &lt;/li&gt;

             &lt;/ul&gt;
           &lt;/div&gt;

           &lt;div class=&quot;col-md-5 visible-lg-block visible-md-block&quot;&gt;
             &lt;p style=&quot;margin-top: 3rem;&quot;&gt;COLA IS FREE, OPEN SOURCE AND ALWAYS WILL BE.&lt;/p&gt;
           &lt;/div&gt;

           &lt;div class=&quot;col-md-3 col-xs-12 sub-new&quot;&gt;
             &lt;h5&gt;SUBSCRIBE TO OUR NEWS&lt;/h5&gt;
             &lt;p&gt;Sign up for our newsletter and get the latest news.&lt;/p&gt;
             &lt;div class=&quot;form-group&quot;&gt;
               &lt;div class=&quot;input-group&quot;&gt;
                 &lt;input type=&quot;email&quot; class=&quot;form-control&quot; id=&quot;sub-email-input&quot; placeholder=&quot;email@example.com&quot;&gt;
                 &lt;span class=&quot;input-group-addon&quot;&gt;&lt;i class=&quot;fa fa-envelope-o&quot;&gt;&lt;/i&gt;&lt;/span&gt;
               &lt;/div&gt;
             &lt;/div&gt;
           &lt;/div&gt;




         &lt;/div&gt;
         &lt;div class=&quot;bottom-line center-text&quot;&gt;
           &lt;p&gt;Copyright &#169; 2015 Cola Framework. All Rights Reserved. Made with love in Cola, BC, China. | &lt;span&gt;&lt;a&gt;Terms &amp; Conditions&lt;/a&gt;&lt;/span&gt; | Privacy Policy | Disclaimer | Shipping &amp; Returns&lt;/p&gt;
         &lt;/div&gt;

        &lt;/footer&gt;</pre>



  <h2>Sticky Footer</h2>
  <div>
    <p>Pass</p>
  </div>


</div>
