<div>
    <h1 class="groud-title">Link</h1>
    <hr/>


  <!-- Waterfall -->
  <div>
    <h2>waterfall</h2>
    <a class="link waterfall" href="">
      <span class="bg"></span>
      <span class="text">
        let us know something
      </span>
    </a>
  </div>
  <!-- Waterfall End-->

  <!-- Reveal Waterfall -->
  <div>
    <h2>Reveal Waterfall Icon</h2>
    <div>
      <a class="link rv-waterfall" title="Top">
        <i class="fa fa-caret-square-o-up"></i>
        <i class="fa fa-caret-square-o-up"></i>
      </a>
    </div>
  </div>
  <!-- Reveal Waterfall End-->


</div>
