<div>
  <h1 class="groud-title">Typography</h1>
  <hr/>


  <!-- Waterfall -->
  <div>
    <h2>Font</h2>
    <div>
      pass
    </div>
  </div>
  <!-- Waterfall End-->

  <!-- Reveal Waterfall -->
  <div>
    <h2>Align</h2>
    <div class="panel">
      <p class="center-text">Center Text</p>
      <p class="left-text">Left Text</p>
      <p class="right-text">Right Text</p>
    </div>
  </div>
  <!-- Reveal Waterfall End-->
<br />
   <pre class="language-html" data-lang="html">
 &lt;p class=&quot;center-text&quot;&gt;Center Text&lt;/p&gt;
&lt;p class=&quot;left-text&quot;&gt;Left Text&lt;/p&gt;
&lt;p class=&quot;right-text&quot;&gt;Right Text&lt;/p&gt;</pre>

</div>
