<div>
    <h1 class="groud-title">Form</h1>
    <hr />
    <h2>Base</h2>
    <div class="row">
        <form>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="base-form-input">UserName</label>
                        <input id="base-form-input" type="text" class="form-control" placeholder="Text input">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <pre class="language-html" data-lang="html">
&lt;div class=&quot;form-group&quot;&gt;
    &lt;label for=&quot;base-form-input&quot;&gt;UserName&lt;/label&gt;
    &lt;input id=&quot;base-form-input&quot; type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Text input&quot;&gt;
&lt;/div&gt;
    </pre>


    <h2>Underline Input</h2>
    <div>
        <form>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="base-form-input">Your Name?</label>
                        <input id="base-form-input" type="text" class="form-control underline" placeholder="Text input">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <pre class="language-html" data-lang="html">
&lt;div class=&quot;form-group&quot;&gt;
    &lt;label for=&quot;base-form-input&quot;&gt;Your Name?&lt;/label&gt;
    &lt;input id=&quot;base-form-input&quot; type=&quot;text&quot; class=&quot;form-control underline&quot; placeholder=&quot;Text input&quot;&gt;
&lt;/div&gt;
    </pre>



    <h2>Inline Input</h2>
    <div>
      <form>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group form-inline">
              <label for="base-form-input">Your Name?</label>
              <input type="text" class="form-control">

            </div>
            <div class="form-group form-inline form-correct">
              <label for="base-form-input">Your Country?</label>
              <input type="text" class="form-control feedback-correct">
            </div>
            <div class="form-group form-inline has-feedback form-correct">
              <label for="base-form-input">Your Jobs?</label>
              <input type="text" class="form-control underline">
              <i class="fa fa-check form-feedback-icon"></i>
            </div>
          </div>
        </div>
      </form>
    </div>

    <pre class="language-html" data-lang="html">
&lt;div class=&quot;form-group form-inline&quot;&gt;
    &lt;label for=&quot;base-form-input&quot;&gt;Your Name?&lt;/label&gt;
    &lt;input type=&quot;text&quot; class=&quot;form-control&quot;&gt;
&lt;/div&gt;
&lt;div class=&quot;form-group form-inline form-correct&quot;&gt;
    &lt;label for=&quot;base-form-input&quot;&gt;Your Country?&lt;/label&gt;
    &lt;input type=&quot;text&quot; class=&quot;form-control feedback-correct&quot;&gt;
&lt;/div&gt;
&lt;div class=&quot;form-group form-inline has-feedback form-correct&quot;&gt;
    &lt;label for=&quot;base-form-input&quot;&gt;Your Jobs?&lt;/label&gt;
    &lt;input type=&quot;text&quot; class=&quot;form-control underline&quot;&gt;
    i class=&quot;fa fa-check form-feedback-icon&quot;&gt;&lt;/i&gt;
&lt;/div&gt;
    </pre>



    <h2>Form Inline</h2>
    <div>

        <div class="row">
          <div class="col-lg-10">
            <form class="form-inline">
              <div class="form-group">
                <label for="base-form-input">Your Name?</label>
                <input type="text" class="form-control">

              </div>
              <div class="form-group form-correct">
                <label for="base-form-input">Your Country?</label>
                <input type="text" class="form-control feedback-correct">
              </div>
              <div class="form-group">
                <a class="btn">Ok</a>
              </div>
            </form>
          </div>
        </div>

    </div>

    <pre class="language-html" data-lang="html">
 &lt;form class=&quot;form-inline&quot;&gt;
    &lt;div class=&quot;form-group&quot;&gt;
      &lt;label for=&quot;base-form-input&quot;&gt;Your Name?&lt;/label&gt;
      &lt;input type=&quot;text&quot; class=&quot;form-control&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group form-correct&quot;&gt;
      &lt;label for=&quot;base-form-input&quot;&gt;Your Country?&lt;/label&gt;
      &lt;input type=&quot;text&quot; class=&quot;form-control feedback-correct&quot;&gt;
    &lt;/div&gt;
      &lt;div class=&quot;form-group&quot;&gt;
      &lt;a class=&quot;btn&quot;&gt;Ok&lt;/a&gt;
    &lt;/div&gt;
&lt;/form&gt;
    </pre>

    <h2>Pre Addon</h2>
    <div>
      <div class="row">
        <div class="col-lg-5">
          <form>

            <div class="form-group">
              <label for="base-form-input">How money?</label>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" placeholder="Amount">
                <span class="input-group-addon">.00</span>
              </div>
            </div>

            <div class="form-group">
              <label for="base-form-input">How People?</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                <input type="text" class="form-control" placeholder="Amount">
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>

    <pre class="language-html" data-lang="html">
&lt;form&gt;
   &lt;div class=&quot;form-group&quot;&gt;
     &lt;label for=&quot;base-form-input&quot;&gt;How money?&lt;/label&gt;
     &lt;div class=&quot;input-group&quot;&gt;
         &lt;div class=&quot;input-group-addon&quot;&gt;$&lt;/div&gt;
            &lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Amount&quot;&gt;
             &lt;span class=&quot;input-group-addon&quot;&gt;.00&lt;/span&gt;
         &lt;/div&gt;
      &lt;/div&gt;

      &lt;div class=&quot;form-group&quot;&gt;
          &lt;label for=&quot;base-form-input&quot;&gt;How People?&lt;/label&gt;
          &lt;div class=&quot;input-group&quot;&gt;
              &lt;div class=&quot;input-group-addon&quot;&gt;&lt;i class=&quot;fa fa-user&quot;&gt;&lt;/i&gt;&lt;/div&gt;
                  &lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Amount&quot;&gt;
          &lt;/div&gt;
      &lt;/div&gt;
&lt;/form&gt;
    </pre>



    <h2>Center Input</h2>
    <div>
        <form>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="base-form-input">Your Last Name?</label>
                        <input id="base-form-input" type="text" class="form-control underline center-text" placeholder="Text input">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <h2>Gapless Input Group</h2>
    <div>
        <div class="row">
            <div class="col-lg-4">
                <form class="gapless-form">
                    <input type="text" class="form-control" placeholder="Username">
                    <input type="password" class="form-control" placeholder="Password">
                    <input type="password" class="form-control" placeholder="Password Again">
                </form>
            </div>
        </div>
    </div>

    <h2>FeedBack Icon</h2>
    <h3>Add Class</h3>
    <div>
      <div class="row">
        <div class="col-lg-4">
          <form>
            <div class="form-group form-correct">
              <label for="base-form-input">Your Last Name?</label>
              <input type="password" class="form-control feedback-correct" >
            </div>

            <div class="form-group form-error">
              <label for="base-form-input">Your Photo?</label>
              <input type="password" class="form-control feedback-error" >
            </div>
          </form>
        </div>
      </div>
    </div>
    <h3>Add Additional Label</h3>
    <div>
      <div class="row">
        <div class="col-lg-4">
          <form>
            <div class="form-group has-feedback form-correct">
              <label for="base-form-input">Your Last Name?</label>
              <input type="password" class="form-control" >
              <i class="fa fa-check form-feedback-icon"></i>
            </div>

            <div class="form-group has-feedback form-error">
              <label for="base-form-input">Your Last Name?</label>
              <input type="password" class="form-control" >
              <i class="fa fa-check form-feedback-icon"></i>
            </div>
          </form>
        </div>
      </div>
    </div>

    <h2>Radio</h2>
    <div>
      <div class="row">
        <div class="col-lg-4">
          <form>
            <p>
              <input name="group1" type="radio" id="test1" />
              <label for="test1">Red</label>
            </p>
            <p>
              <input name="group1" type="radio" id="test2" />
              <label for="test2">Yellow</label>
            </p>
            <p>
              <input class="with-gap" name="group1" type="radio" id="test3"  />
              <label for="test3">Green</label>
            </p>
            <p>
              <input name="group1" type="radio" id="test4" disabled="disabled" />
              <label for="test4">Brown</label>
            </p>
          </form>
        </div>
      </div>
    </div>

</div>
