<div class="css" id="css">
<div class="row">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-9">
    <div id="css-grid" class="slide-animate" ng-include="'templates/css-grid.html'"></div>
    <div id="css-form" class="slide-animate" ng-include="'templates/css-form.html'"></div>
    <div id="css-typography" class="slide-animate" ng-include="'templates/css-typography.html'"></div>
    <div id="css-button" class="slide-animate" ng-include="'templates/css-button.html'"></div>
    <div id="css-label" class="slide-animate" ng-include="'templates/css-label.html'"></div>
    <div id="css-link" class="slide-animate" ng-include="'templates/css-link.html'"></div>
    <div id="css-helper" class="slide-animate" ng-include="'templates/css-helper.html'"></div>
    <div id="css-color" class="slide-animate" ng-include="'templates/css-color.html'"></div>
  </div>
  <nav class="col-lg-2 slide-nav-bar visible-lg">
    <div>
      <ul  class="tab tab-stacked cola-side-nav" ng-pin container="#css">
        <li>
          <a ng-click="gotoThere('css-grid')">Grdi System</a>
        </li>
        <li>
          <a ng-click="gotoThere('css-form')">Form</a>
        </li>
        <li>
          <a ng-click="gotoThere('css-typography)">Typegraphy</a>
        </li>
        <li>
          <a ng-click="gotoThere('css-button')">Button</a>
        </li>
        <li>
          <a ng-click="gotoThere('css-label')">Label</a>
        </li>
        <li>
          <a ng-click="gotoThere('css-link')">Link</a>
        </li>
        <li>
          <a ng-click="gotoThere('css-helper')">Helper</a>
        </li>
        <li>
          <a ng-click="gotoThere('css-color')">Text Color</a>
        </li>
      </ul>
</div>
  </nav>
</div>

</div>
