<div class="row font-show-view">

  <div>
    <h1 class="font-show-title">English Fancy Font</h1>
  </div>
  <!-- GoodDog -->
  <div class="col-lg-7">
    <div class="font-show english-fancy-goodDog">
      <h1>House Stark</h1>
      <p>Winter is Coming</p>

    </div>
  </div>
  <div class="col-lg-3">
    <div class="font-name">
      <h2>GoodDog</h2>
      <small>@font-face GoodDog</small>
    </div>
  </div>
  <div class="col-lg-2 font-color-illustrate">
    <p>$Grass-Gray-darker</p>
    <p>$Lady-Wine</p>
    <p>black</p>
  </div>
  <!-- GoodDog END-->

  <!-- ChunkFive -->
  <div class="col-lg-7">
    <div class="font-show english-fancy-chunkfive">
      <h1>House Targaryen</h1>
      <p>Fire and Blood</p>

    </div>
  </div>
  <div class="col-lg-3">
    <div class="font-name">
      <h2>ChunkFive</h2>
      <small>@font-face ChunkFive</small>
    </div>
  </div>
  <div class="col-lg-2 font-color-illustrate">
    <p>$Lady-Wine</p>
    <p>$Grass-Gray-darker</p>
    <p>$Columbia-Blue</p>
  </div>
  <!-- ChunkFive END-->

  <!-- DaysLater -->
  <div class="col-lg-7">
    <div class="font-show english-fancy-daysLater">
      <h1>House Baratheon</h1>
      <p>Ours is the Fury</p>

    </div>
  </div>
  <div class="col-lg-3">
    <div class="font-name">
      <h2>DaysLater</h2>
      <small>@font-face DaysLater</small>
    </div>
  </div>
  <div class="col-lg-2 font-color-illustrate">
    <p>$Dark-Purple</p>
    <p>$Columbia-Blue-Darker</p>
    <p>$Lady-Wine</p>
  </div>
  <!-- DaysLater END-->

  <!-- Canon -->
  <div class="col-lg-7">
    <div class="font-show english-fancy-canon">
      <h1>House Lannister</h1>
      <p>Hear Me Roar</p>

    </div>
  </div>
  <div class="col-lg-3">
    <div class="font-name">
      <h2>Canon</h2>
      <small>@font-face Canon</small>
    </div>
  </div>
  <div class="col-lg-2 font-color-illustrate">
    <p>$Jonquil</p>
    <p>black</p>
    <p>$Lady-Wine</p>
  </div>
  <!-- Canon END-->

  <!-- Angelina -->
  <div class="col-lg-7">
    <div class="font-show english-fancy-angelina">
      <h1>House Tyrell</h1>
      <p>Growing Strong</p>

    </div>
  </div>
  <div class="col-lg-3">
    <div class="font-name">
      <h2>Angelina</h2>
      <small>@font-face Angelina</small>
    </div>
  </div>
  <div class="col-lg-2 font-color-illustrate">
    <p>$Lady-Wine</p>
    <p>$Dark-Purple</p>
    <p>$Grass-Gray</p>
  </div>
  <!-- Angelina END-->

  <!-- FaceYourFears -->
  <div class="col-lg-7">
    <div class="font-show english-fancy-faceYourFears">
      <h1>House Tully</h1>
      <p>Family Duty Honor</p>

    </div>
  </div>
  <div class="col-lg-3">
    <div class="font-name">
      <h2>FaceYourFears</h2>
      <small>@font-face FaceYourFears</small>
    </div>
  </div>
  <div class="col-lg-2 font-color-illustrate">
    <p>$Dark-Coffee</p>
    <p>$Dark-Sky-Blue</p>
    <p>$Lady-Wine</p>
  </div>
  <!-- FaceYourFears END-->

  <!-- SketchRockwell -->
  <div class="col-lg-7">
    <div class="font-show english-fancy-sketchRockwell">
      <h1>House Greyjoy</h1>
      <p>We Do Not Sow</p>

    </div>
  </div>
  <div class="col-lg-3">
    <div class="font-name">
      <h2>SketchRockwell</h2>
      <small>@font-face SketchRockwell</small>
    </div>
  </div>
  <div class="col-lg-2 font-color-illustrate">
    <p>$Grass-Gray</p>
    <p>black</p>
    <p>$Dark-Purple</p>
  </div>
  <!-- SketchRockwell END-->

  <!-- WaltographUI -->
  <div class="col-lg-7">
    <div class="font-show english-fancy-waltographUI">
      <h1>House Arryn</h1>
      <p>High as Honor</p>

    </div>
  </div>
  <div class="col-lg-3">
    <div class="font-name">
      <h2>WaltographUI</h2>
      <small>@font-face WaltographUI</small>
    </div>
  </div>
  <div class="col-lg-2 font-color-illustrate">
    <p>$Dark-Purple</p>
    <p>$Lady-Wine</p>
    <p>$Dark-Sky-Blue</p>
  </div>
  <!-- WaltographUI END-->

  <!-- FlowerBold -->
  <div class="col-lg-7">
    <div class="font-show english-fancy-flowerBold">
      <h1>House Martell</h1>
      <p>Unbowed, Unbent, Unbroken</p>

    </div>
  </div>
  <div class="col-lg-3">
    <div class="font-name">
      <h2>FlowerBold</h2>
      <small>@font-face FlowerBold</small>
    </div>
  </div>
  <div class="col-lg-2 font-color-illustrate">
    <p>$Carolina-Blue</p>
    <p>$Grass-Gray</p>
    <p>$Dark-Purple</p>
  </div>
  <!-- FlowerBold END-->

  <!-- INDIGO -->
  <div class="col-lg-7">
    <div class="font-show english-fancy-indigo">
      <h1>House of Baelish of Harrenhal</h1>
      <p>Knowledge is Power</p>

    </div>
  </div>
  <div class="col-lg-3">
    <div class="font-name">
      <h2>INDIGO</h2>
      <small>@font-face INDIGO</small>
    </div>
  </div>
  <div class="col-lg-2 font-color-illustrate">
    <p>$Jonquil</p>
    <p>black</p>
    <p>$Lady-Wine</p>
  </div>
  <!-- INDIGO END-->

</div>

