<div>
  <h1>Dialogs</h1>

  <h2>class</h2>
  <div>
    <div id="dialogs-class-test">
      <a class="btn" id="dialogsTest1" ng-click="dialogs1click()" >Demo</a>
    </div>

  </div>

  <h2>class</h2>
  <div>
    <div id="dialogs-class-test">
      <a class="btn" id="dialogsTest2" ng-click="dialogs2click()" >Demo</a>
    </div>

  </div>

  <h2>Mobile</h2>
  <div>
    <div class="row">
      <div class="col-lg-5">
        <div class="panel radius" style="height: 250px;">
          <a class="btn" id="dialogsTest3" ng-click="dialogs3click()" >Demo</a>
        </div>
      </div>
    </div>
  </div>



</div>



