.card {
    @include micro-shadow;
    border: 1px solid #d7d7d7;
    margin: {
        top: 0;
        bottom: 0;
        left: 1.5rem;
        right: 1.5rem;
    }
}

.card.article {
  img {
    width:100%;
    }
      img.post-icon {
        position: absolute;
        width: 3rem;
        border-radius: 50%;
        margin-top: -3rem;
        }
  }

.article-card {
    border: 1px solid #d7d7d7;
    margin-bottom: 1.5rem;
    box-shadow: 2px 4px 5px 0px #d7d7d7;
    .card-content {
        background: #fff;
        margin: 1.25rem;
        .post-author {
            text-align: center;
        }
        h4 {
            color: #CF000F;
        }
        p {
            color: #757D75;
        }
        a i {
            font-weight: 300;
            color: #757D75;
            margin: 0 .5rem;
            padding: 5px 7px 5px 7px;
            border: 1px solid #757D75;
            border-radius: 50%;
        }
        img.post-icon {
            position: absolute;
            width: 3rem;
            border-radius: 50%;
            margin-top: -3rem;
        }
    }
}
