$sep-dash-top-margin: 1rem;
$sep-dash-bottom-margin: 0.7em;

//sep-dash
.sep-dash {
    width: 100%;
    text-align: center;
    margin: {
    right: auto;
    left: auto;
    top: $sep-dash-top-margin;
    bottom: $sep-dash-bottom-margin;
    }
    display: block;
    vertical-align: top;
    background-color: #2D373A;
    width: 28px;
    height: 2px;
}

.decoration-line {
  margin: 0;
  padding: 0;
  height: 0.3rem;
  width: 100%;
  background-color: darken(#C05949, 5%);
}

.clear-list {
  list-style: none;
}


.center-wrap {
  width: 80%;
  margin: auto auto;
  background-color: #ccc;
  height: 100%;
}

img.circle {
  border-radius: 50%;
}

img.center {
  display: block;
  margin: auto auto;
}

.vert-align-handler {
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
}

