$rv-waterfall-icon-size: 2rem !default;
//waterfall
a.link.waterfall {
    @include transition(.2s ease-out);
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 8px 14px 5px 14px;
    border: 2px solid #2D373A;
    text-decoration: none;
    overflow: hidden;
    outline: medium none;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
    .bg {
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;
        height: 0;
        z-index: 0;
        background-color: #2D373A;
        top: 0;
        left: 0;
        transition: height 0.2s ease-out 0s;
        border: 0 none;
    }
    .text {
        font: {
            size: 16px;
        }
        line-height:16px;
        color: #2D373A;
        position: relative;
        z-index:1;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        transition: color 0.2s ease-out 0s;
        border: 0 none;
    }
    &:hover,
    &:active {
        outline: medium none;
        text-decoration: none;
        color: #000;
        .bg {
            height: 100%;
            border: 0 none;
        }
        .text {
            color: #FFFFFF;
            border: 0 none;
        }
    }
}

a.link.rv-waterfall {
    display: inline-block;
    //to mixins
    height: $rv-waterfall-icon-size;
    width: $rv-waterfall-icon-size;
    position: relative;
    overflow: hidden;
    i {
      //to mixins
        margin: 0;
        padding: 0;
        display: block;
        //to mixins
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

        position: relative;
        top: 0;
        color: $link-color;
        font: {
            size: $rv-waterfall-icon-size;
        }
        &:last-child {
            color: #000;
        }
    }
    &:hover,
    &:active{
        i {
            top: -100%;
        }
    }
}
