$panel-padding: 1.5rem;
$panel-enhanced-width: rem-calc(6px);
$panel-enhanced-color: $Dark-Coffee;
$panel-radius: rem-calc(10);

.panel {
  @include micro-shadow;
  border: 1px solid #d7d7d7;
  border-radius:  rem-calc(2);
  padding: $panel-padding;
  }

.panel.radius {
  border-radius: $panel-radius;
  }


.panel.enhanced {
  border-left: {
  style: solid;
  width: $panel-enhanced-width;
  color: $panel-enhanced-color;
  }
    border-radius:  rem-calc(6);
}
