

.splash {
  position: relative;
  margin: 0;
  padding: 0;

  img {
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    }

  div.mask {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(100, 100, 100, 0.2);
    }


}
