<div class="red-shades">
    <h2>Shades of Red</h2>
    <div class="row">

        <div class="col-lg-1">
            <div class="color-container" style="background-color: #AF002A">
            </div>
        </div>
        <div class="col-lg-3">
            <h3>
                $Alabama-Crimson
              </h3>
        </div>

        <div class="col-lg-1">
            <div class="color-container" style="background-color: #E32636">
            </div>
        </div>
        <div class="col-lg-3">
            <h3>
                $Alizarin-Crimson
              </h3>
        </div>

        <div class="col-lg-1">
            <div class="color-container" style="background-color: #E52B50">
            </div>
        </div>
        <div class="col-lg-3">
            <h3>
                $Amaranth
              </h3>
        </div>

        <div class="col-lg-1">
          <div class="color-container" style="background-color: #E95E47">
          </div>
        </div>
        <div class="col-lg-3">
          <h3>
            $Lady-Wine
            <small>贵妇葡萄酒:)</small>
          </h3>
        </div>

        <div class="col-lg-1">
          <div class="color-container" style="background-color: #F06049">
          </div>
        </div>
        <div class="col-lg-3">
          <h3>
            $sweet-pink
          </h3>
        </div>

        <div class="col-lg-1">
          <div class="color-container" style="background-color: #990000">
          </div>
        </div>
        <div class="col-lg-3">
          <h3>
            $Dark-Blood-Red(#990000)
          </h3>
        </div>

    </div>

</div>
