<div>
  <h1 class="groud-title">Footer</h1>
  <hr />

  <h2>Base</h2>
  <div class="row">
    <div class="col-lg-10 panel radius" style="position: relative;">
      <footer class="big-footer" id="footer">
         <div class="row">
           <div class="col-md-4 visible-lg-block visible-md-block">
             <ul class="list">
               <li><span><i class="fa fa-github"></i>Github</span>

               </li>

               <li><span><i class="fa fa-google"></i>Google</span>

               </li>

               <li><span><i class="fa fa-weixin"></i>Weixin</span>

               </li>

               <li><span><i class="fa fa-weibo"></i>Weibo</span>

               </li>

             </ul>
           </div>



           <div class="col-md-5 visible-lg-block visible-md-block">
             <p style="margin-top: 3rem;">COLA IS FREE, OPEN SOURCE AND ALWAYS WILL BE.</p>
           </div>

           <div class="col-md-3 col-xs-12 sub-new">
             <h5>SUBSCRIBE TO OUR NEWS</h5>
             <p>Sign up for our newsletter and get the latest news.</p>
             <div class="form-group">
               <div class="input-group">
                 <input type="email" class="form-control" id="sub-email-input" placeholder="email@example.com">
                 <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
               </div>
             </div>
           </div>




         </div>
         <div class="bottom-line center-text">
           <p>Copyright © 2015 Cola Framework. All Rights Reserved. Made with love in Cola, BC, China. | <span><a>Terms & Conditions</a></span> | Privacy Policy | Disclaimer | Shipping & Returns</p>
         </div>

        </footer>


    </div>
  </div>

  <h2>Sticky Footer</h2>
  <div>
    <p>Pass</p>
  </div>


</div>
