<div>
<h1 class="groud-title">Card</h1>
<hr />
  <div class="row">
    <div class="col-lg-4">
      <div class="card article">

  <img src="http://i.onionstatic.com/avclub/5199/85/16x9/960.jpg">
  <div class="card-content">
    <img class="post-icon" src="http://zurb.com/stickers/images/intro-foundation.png" alt="foundation icon">
    <p class="post-author">By <a href="#">Vincent Vega</a></p>
    <h4>Pulp Fiction brought guns, gimps, and glory to the Cannes Film Festival</h4>
    <p>If my answers frighten you then you should cease asking scary questions. Zed's dead, baby. Zed's dead. I love you, Pumpkin. I love you, Honey Bunny. All right, everybody be cool, this is a robbery!</p>
    <p>
      <a href="#">Read on...</a>
      <a href="#" class="right"><i class="fi-share"></i></a>
      <a href="#" class="right"><i class="fi-heart"></i></a>
    </p>
  </div>


      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
ss
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
ss
      </div>
    </div>
  </div>
</div>


