<div>
  <h1 class="groud-title">Button</h1>
  <hr />

  <div>
    <h2>Base</h2>
    <a class="btn">Button</a>

  </div>

  <div>
    <h2>Color</h2>
    <a class="btn">Default</a>
    <a class="btn success">Success</a>
    <a class="btn error">Error</a>
    <a class="btn warning">Warning</a>
  </div>

  <div>
    <h2>Round</h2>
    <a class="btn round">Button</a>
  </div>

  <div>
    <h2>Strong</h2>
    <a class="btn strong">Strong</a>
  </div>

  <div>
    <h2>Circle</h2>
    <a class="btn success circle xlarge strong">Circle</a>
    <a class="btn error circle xlarge strong">Circle</a>
  </div>

  <div>
    <h2>Size</h2>
    <a class="btn small">Small</a>
    <a class="btn">Default</a>
    <a class="btn large">Large</a>
    <a class="btn xlarge">XLarge</a>
  </div>

  <div>
    <h2>Submit</h2>
    <input type="submit" value="Submit" class="btn transparent">
  </div>

  <div>
    <h2>Wave (Material Design) !Need Javascript(needn't jquery support)</h2>
    <a class="waves-effect waves-light btn">Button</a>
    <small>Click this button you will see ripple wave</small>
  </div>



</div>
