<div>
  <h1 class="groud-title">Form</h1>
  <hr />
  <h2>Base</h2>
  <div class="row">
  <form>
   <div class="row">
     <div class="col-lg-4">
       <div class="form-group">
         <label for="base-form-input">UserName</label>
         <input id="base-form-input" type="text" class="form-control" placeholder="Text input">
       </div>
     </div>
   </div>
  </form>
  </div>

  <h2>Underline Input</h2>
  <div>
    <form>
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label for="base-form-input">Your Name?</label>
            <input id="base-form-input" type="text" class="form-control underline" placeholder="Text input">
          </div>
        </div>
      </div>
    </form>
  </div>

  <h2>Center Input</h2>
  <div>
    <form>
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label for="base-form-input">Your Last Name?</label>
            <input id="base-form-input" type="text" class="form-control underline center-text" placeholder="Text input">
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
