<div>
    <h1 class="groud-title">Form</h1>
    <hr />
    <h2>Base</h2>
    <div class="row">
        <form>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="base-form-input">UserName</label>
                        <input id="base-form-input" type="text" class="form-control" placeholder="Text input">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <h2>Underline Input</h2>
    <div>
        <form>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="base-form-input">Your Name?</label>
                        <input id="base-form-input" type="text" class="form-control underline" placeholder="Text input">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <h2>Inline Input</h2>
    <div>
      <form>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group form-inline">
              <label for="base-form-input">Your Name?</label>
              <input type="text" class="form-control">

            </div>
            <div class="form-group form-inline form-correct">
              <label for="base-form-input">Your Country?</label>
              <input type="text" class="form-control feedback-correct">
            </div>
            <div class="form-group form-inline has-feedback form-correct">
              <label for="base-form-input">Your Jobs?</label>
              <input type="text" class="form-control underline">
              <i class="fa fa-check form-feedback-icon"></i>
            </div>
          </div>
        </div>
      </form>
    </div>

    <h2>Form Inline</h2>
    <div>

        <div class="row">
          <div class="col-lg-10">
            <form class="form-inline">
              <div class="form-group">
                <label for="base-form-input">Your Name?</label>
                <input type="text" class="form-control">

              </div>
              <div class="form-group form-correct">
                <label for="base-form-input">Your Country?</label>
                <input type="text" class="form-control feedback-correct">
              </div>
              <div class="form-group">
                <a class="btn">Ok</a>
              </div>
            </form>
          </div>
        </div>

    </div>


    <h2>Center Input</h2>
    <div>
        <form>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="base-form-input">Your Last Name?</label>
                        <input id="base-form-input" type="text" class="form-control underline center-text" placeholder="Text input">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <h2>Gapless Input Group</h2>
    <div>
        <div class="row">
            <div class="col-lg-4">
                <form class="gapless-form">
                    <input type="text" class="form-control" placeholder="Username">
                    <input type="password" class="form-control" placeholder="Password">
                    <input type="password" class="form-control" placeholder="Password Again">
                </form>
            </div>
        </div>
    </div>

    <h2>FeedBack Icon</h2>
    <h3>Add Class</h3>
    <div>
      <div class="row">
        <div class="col-lg-4">
          <form>
            <div class="form-group form-correct">
              <label for="base-form-input">Your Last Name?</label>
              <input type="password" class="form-control feedback-correct" >
            </div>

            <div class="form-group form-error">
              <label for="base-form-input">Your Photo?</label>
              <input type="password" class="form-control feedback-error" >
            </div>
          </form>
        </div>
      </div>
    </div>
    <h3>Add Additional Label</h3>
    <div>
      <div class="row">
        <div class="col-lg-4">
          <form>
            <div class="form-group has-feedback form-correct">
              <label for="base-form-input">Your Last Name?</label>
              <input type="password" class="form-control" >
              <i class="fa fa-check form-feedback-icon"></i>
            </div>

            <div class="form-group has-feedback form-error">
              <label for="base-form-input">Your Last Name?</label>
              <input type="password" class="form-control" >
              <i class="fa fa-check form-feedback-icon"></i>
            </div>
          </form>
        </div>
      </div>
    </div>

</div>
