<div>
  <h1 class="groud-title">Button</h1>
  <hr />

  <div>
    <h2>Base</h2>
    <a class="btn">Button</a>

  </div>

  <div>
    <h2>Color</h2>
    <a class="btn">Default</a>
    <a class="btn btn-success">Success</a>
    <a class="btn btn-error">Error</a>
    <a class="btn btn-warning">Warning</a>
  </div>

  <div>
    <h2>Round</h2>
    <a class="btn round">Button</a>
  </div>

  <div>
    <h2>Strong</h2>
    <a class="btn strong">Strong</a>
  </div>

  <div>
    <h2>Circle</h2>
  </div>


  <div>
    <h2>Wave (Material Design)</h2>
    <a class="waves-effect waves-light btn">Button</a>
    <small>Click this button you will see wave</small>
  </div>

</div>
