<div class="css">
<div class="row">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-9">
    <div class="slide-animate" ng-include="'templates/css-grid.html'"></div>
    <div class="slide-animate" ng-include="'templates/css-form.html'"></div>

  </div>
  <nav class="col-lg-2 slide-nav-bar visible-lg">
    <ul id="sidebar" class="tab tab-stacked" style="position: fixed;">
      <li>
        <a href="#GroupA">Group A</a>
        <ul class="tab tab-stacked">
          <li><a href="#GroupASub1">Sub-Group 1</a></li>
          <li><a href="#GroupASub2">Sub-Group 2</a></li>
        </ul>
      </li>
      <li>
        <a href="#GroupB">Group B</a>
        <ul class="tab tab-stacked">
          <li><a href="#GroupBSub1">Sub-Group 1</a></li>
          <li><a href="#GroupBSub2">Sub-Group 2</a></li>
        </ul>
      </li>
      <li>
        <a href="#GroupC">Group C</a>
        <ul class="tab tab-stacked">
          <li><a href="#GroupCSub1">Sub-Group 1</a></li>
          <li><a href="#GroupCSub2">Sub-Group 2</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

</div>
