<!--MAIN-->

<!-- HEADER -->
<div class="header">
</div>

<!-- SPLASH -->
<div class="splash">

</div>

<!-- PROJECT -->
<div class="project">

  <div class="project-title">
    <div class="wrap">
      <h2>Aby Studio</h2>
      <div class="sep">
        <span></span>
      </div>
      <div class="title">
        Sleep is a symptom of
        <br />
        caffeine deprivation
      </div>
    </div>
  </div>

  <div class="list-project">
    <div class="wrap">
      <ul>
        <li class="p_item large">

        </li>
        <li class="p_item small">

        </li>
        <li class="p_item large">

        </li>
        <li class="p_item small">

        </li>
      </ul>
    </div>
  </div>

</div>
