<div>
  <br />
 <div class="row">
   <div class="col-lg-1"></div>

   <div class="col-lg-10">
     <!-- Chinese  -->
     <div class="chinese-font" class="slide-animate" ng-include="'templates/font-chinese.html'">

     </div>
     <!-- Chinese End -->

     <!-- English-Offical -->
     <div class="english-offcial">

     </div>
     <!-- English-Offical End-->

     <!-- English-Fancy -->
     <div class="english-fancy">

     </div>
     <!-- English-Fancy End -->

   </div>

   <div class="col-lg-1"></div>

 </div>
</div>
