<div class="row font-show-view">

  <div>
    <h1>Chinese Font</h1>
    <p>
      注意：中文字体涉及版权问题，如果感兴趣，请购买使用，页面仅作展示。
    </p>
  </div>
  <!-- 方正纤细 -->
  <div class="col-lg-7">
    <div class="font-show chinese-fangzheng">
      <h1>冯延巳【鹊踏枝】</h1>
      <p>庭院深深深几许？杨柳堆烟，帘幕无重数。玉勒雕鞍游冶处，楼高不见章台路。</p>

    </div>
  </div>
  <div class="col-lg-3">
    <div class="font-name">
      <h2>方正纤细</h2>
      <small>@font-face FangzhengXianxi</small>
    </div>
  </div>
  <div class="col-lg-2 font-color-illustrate">
    <p>$Lady-Wine</p>
    <p>$Dark-Purple</p>
    <p>$Grass-Gray</p>
  </div>
  <!-- 方正纤细 END-->

  <!-- 汉仪全唐诗体简 -->
  <div class="col-lg-7">
    <div class="font-show chinese-hanyiquantang">
      <h1>秦观【踏沙行】</h1>
      <p>雾失楼台，月迷津度，桃源望断无寻处。可堪孤馆闭春寒，杜鹃声里斜阳暮。</p>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="font-name">
      <h2>汉仪全唐诗体简？</h2>
      <small>@font-face HanyiQuanTang</small>
    </div>
  </div>
  <div class="col-lg-2 font-color-illustrate">
    <p>$Lady-Wine</p>
  </div>
  <!-- 汉仪全唐诗体简 END-->

  <!-- 吕建德行楷简体 -->
  <div class="col-lg-7">
    <div class="font-show chinese-lvjiandexingkai">
      <h1>陶潜【饮酒诗】</h1>
      <p>结庐在人境，而无车马喧。问君何能尔，心远地自偏。</p>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="font-name">
      <h2>吕建德行楷简体</h2>
      <small>@font-face LvJianDeXingKai</small>
    </div>
  </div>
  <div class="col-lg-2 font-color-illustrate">
    <p>$Lady-Wine</p>
  </div>
  <!-- 吕建德行楷简体 END-->

  <!-- 典雅楷体简体 -->
  <div class="col-lg-7">
    <div class="font-show chinese-dianyakaiti">
      <h1>元好问【颖亭留别】</h1>
      <p>北风三日雪，太素秉元化。九山郁峥嵘，了不受陵跨。寒波澹澹起，白鸟悠悠下。</p>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="font-name">
      <h2>典雅楷体简体</h2>
      <small>@font-face DianYaKaiTi</small>
    </div>
  </div>
  <div class="col-lg-2 font-color-illustrate">
    <p>$Lady-Wine</p>
  </div>
  <!-- 典雅楷体简体 END-->

  <!-- 方正清刻本悦宋简体 -->
  <div class="col-lg-7">
    <div class="font-show chinese-yuesong">
      <h1>宋祁【玉楼春】</h1>
      <p>浮生长恨欢娱少，肯爱千金轻一笑。为君持酒劝斜阳，且向花间留晚照。</p>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="font-name">
      <h2>方正清刻本悦宋简体</h2>
      <small>@font-face YueSong</small>
    </div>
  </div>
  <div class="col-lg-2 font-color-illustrate">
    <p>$Lady-Wine</p>
  </div>
  <!-- 方正清刻本悦宋简体 END-->

  <!-- 方正幼线简体 -->
  <div class="col-lg-7">
    <div class="font-show chinese-youcan">
      <h1>张先【天仙子】</h1>
      <p>临晚镜，伤流景，往事后期空记省。沙上并禽池上暝，云破月来花弄影。</p>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="font-name">
      <h2>方正幼线简体</h2>
      <small>@font-face YouCan</small>
    </div>
  </div>
  <div class="col-lg-2 font-color-illustrate">
    <p>$Lady-Wine</p>
  </div>
  <!-- 方正幼线简体 END-->

  <!-- 方正宋刻本秀楷简体 -->
  <div class="col-lg-7">
    <div class="font-show chinese-benxiu">
      <h1>杜甫【水槛遣心二首】之一</h1>
      <p>去郭轩楹敞，无村眺望赊。澄江平少岸，幽树晚多花。</p>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="font-name">
      <h2>方正宋刻本秀楷简体</h2>
      <small>@font-face BenXiu</small>
    </div>
  </div>
  <div class="col-lg-2 font-color-illustrate">
    <p>$Lady-Wine</p>
  </div>
  <!-- 方正宋刻本秀楷简体 END-->

  <!-- 歐體楷書 -->
  <div class="col-lg-7">
    <div class="font-show chinese-outi">
      <h1>杜甫【后出塞五首】之一</h1>
      <p>"朝进东门营，暮上河阳桥。落日照大旗，马鸣风萧萧。平沙列万幕，部伍各见招。</p>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="font-name">
      <h2>歐體楷書</h2>
      <small>@font-face OuTi</small>
    </div>
  </div>
  <div class="col-lg-2 font-color-illustrate">
    <p>$Lady-Wine</p>
  </div>
  <!-- 歐體楷書 END-->

</div>

