<div>
  <h1>Icon Float</h1>

  <h2>Float icon nav</h2>
  <div>
    <div class="row">
      <div class="col-lg-4">
        <div class="panel radius" style="height:300px;">
          <ul>
            <a>
              <i class="fa fa-camera-retro"></i>
            </a>
            <ul>
              <li><a>
                  <i class="fa fa-comments"></i>
              </a></li>
              <li><a>
                  <i class="fa fa-cloud-upload"></i>
              </a></li>
              <li><a>
                  <i class="fa fa-clock-o"></i>
              </a></li>
              <li><a>
                  <i class="fa fa-caret-square-o-right"></i>
              </a></li>
              <li><a>
                  <i class="fa fa-cc"></i>
              </a></li>

            </ul>
</u>
</div>
</div>
</div>

</div>

</div>



