<div class="test">
  <nav class="nav">
    <div class="nav-header">
   <a class="nav-brand">

     <img alt="Brand" style="width:25px; height:25px;" src="/img/cola_logo.png">
</a>
    </div>

    <div class="nav-left">
      <ul>
        <li><a>CSS</a></li>
        <li><a>Component</a></li>
        <li class="active"><a>Test</a></li>
      </ul>
    </div>
4
    <div class="nav-form">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="search">
        </div>
        <div class="form-group">
          <a class="btn">GO</a>
        </div>
      </form>
    </div>


    <div class="nav-right">
      <ul>
        <li><a>Wind</a></li>
        <li><a>Fire</a></li>
        <li class="active"><a>Ice</a></li>
      </ul>
    </div>

    <div class="nav-right">
      <div class="hamburger-wrap">
        <hamburger-button>
          <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
          </div>

        </hamburger-button>

        <section class="menu menu-off">
          <div>Android's Material Design Hamburger Animation</div>
          <div>Adapted for the web by <a href="https://swirlycheetah.com" target="_blank">Chris Wheatley</a></div>
          <div><a href="https://github.com/swirlycheetah/material-design-hamburger" target="_blank">Available on GitHub</a></div>
          <div><a href="https://twitter.com/swirlycheetah" target="_blank">Follow me on Twitter @swirlycheetah</a></div>
        </section>
      </div>
    </div>

</nav>

  <div class="float-nav">

</div>

<div class="row">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-9">
    <div class="slide-animate" ng-include="'templates/test-wave.html'"></div>

  </div>
  <nav class="col-lg-2 slide-nav-bar visible-lg">
    <ul id="sidebar" class="tab tab-stacked" style="position: fixed;">
      <li>
        <a href="#GroupA">Group A</a>
        <ul class="tab tab-stacked">
          <li><a href="#GroupASub1">Sub-Group 1</a></li>
          <li><a href="#GroupASub2">Sub-Group 2</a></li>
        </ul>
      </li>
      <li>
        <a href="#GroupB">Group B</a>
        <ul class="tab tab-stacked">
          <li><a href="#GroupBSub1">Sub-Group 1</a></li>
          <li><a href="#GroupBSub2">Sub-Group 2</a></li>
        </ul>
      </li>
      <li>
        <a href="#GroupC">Group C</a>
        <ul class="tab tab-stacked">
          <li><a href="#GroupCSub1">Sub-Group 1</a></li>
          <li><a href="#GroupCSub2">Sub-Group 2</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

</div>

